<h1>Coins</h1>
<ul>
  <% @coins.each do |coin| %>
    <li><%= link_to coin.name, coin_path(coin) %></li>
  <% end %>
</ul>

<!-- Search Form -->

<%= form_with url: coins_path, method: :get, class: "mb-4" do |form| %>
  <div class="input-group">
    <%= form.text_field :search, placeholder: "Search coins by name", class: "form-control" %>
    <div class="input-group-append">
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<!-- Pagination -->

<%= paginate @coins %>

<!-- ERB conditional -->

<% if @coin.price > 1000 %>
  <p>This coin is expensive!</p>
<% else %>
  <p>This coin is affordable.</p>
<% end %>